.verify {
	min-height: 60vh;
	display: grid;
	place-items: center;
}

.verify .spinner {
	border: 5px solid #bdbdbd;
	border-top-color: tomato;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: rotate 1s infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
